<div style='border: 3px dashed red'>
    <img src='https://image.slidesharecdn.com/usingsinatratobuildrestapis-150915145112-lva1-app6891/95/using-sinatra-to-build-rest-apis-in-ruby-6-638.jpg?cb=1442328782'>
</div>

<p> testing something </p>
